bin/
obj/

*.user
*.suo
*.userosscache
*.sln.docstates

*.dll
*.exe
*.pdb
*.appx
*.appxsym
*.appxupload
*.msix
*.msixsym
*.msixupload

*.nupkg
*.snupkg
*.symbols.nupkg
project.lock.json
project.fragment.lock.json
